.word-bank-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: calc(100% - 20px);

  padding: 20px;
  border-radius: 10px;
  margin: 10px;

  background-color: #F2F2F2;
  box-sizing: border-box; 
}

.word-bank-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 85%;
  padding-bottom: 5px;
  border-bottom: 2px solid #D9D9D9;
  margin: 30px 0 15px;
}

.word-bank-header > .header-title {
  color: #262626;
  font-size: 24px;
  font-weight: 700;
}

.word-bank-header > .word-bank-options:hover {
  cursor: pointer;
}

.options-dropdown {
  position: absolute;
  right: -40px;
  bottom: 0;
  width: 200px;
}

.word-bank {
  width: 85%;
  height: 100%;
  margin: 0 0 30px;
  overflow: scroll;
}