/* FORM GROUP */
.form-group {
  display: flex;
  flex-direction: column;
}

/* FORM LABEL */
.form-label {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-label-text {
  margin-right: 10px;
  font-size: 12px;
  font-weight: bold;
}

.form-label-alert-error {
  color: #FF4F4F;
  font-size: 12px;
  font-weight: bold;
}

/* FORM INPUT */
.form-input-container {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  border: 2px solid transparent;
  margin: 4px 0;
  border-radius: 10px;

  font-size: 14px;
  color: #262626;
  background-color: #E6E6E6;
  opacity: 20%;
  box-sizing: border-box;
}

.form-input:hover,
.form-input:focus {
  opacity: 100%;
  outline: none;
}

.form-input-alert-error {
  border: 2px solid #FF4F4F;
  opacity: 100%;
}

.form-input-error-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 4px 0;
}

/* FORM TEXTAREA */

.form-textarea-container {
  position: relative;
  width: 100%;
  height: 60px;
  margin: 10px 0;
  box-sizing: border-box;
}
.form-textarea-container:first-of-type {
  margin: 4px 0;
}

.form-textarea {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  border: 3px solid transparent;
  border-radius: 10px;

  font-size: 14px;
  color: #262626;
  background-color: #E6E6E6;
  opacity: 20%;
  box-sizing: border-box;
  resize: none;
}

.form-textarea:hover,
.form-textarea:focus {
  opacity: 100%;
  outline: none;
}

.form-textarea-delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -2px;
  right: -2px;
  width: 12px;
  height: 12px;

  border: 0;
  border-radius: 15px;
  font-size: 8px;
  font-weight: 800;

  background-color: #FF4F4F;
  color: #262626;
  
  z-index: 1;
}
.form-textarea-delete-btn:hover {
  top: -2px;
  right: -2px;
  width: 15px;
  height: 15px;
  
  font-size: 12px;
  cursor: pointer;
}

.form-textarea-delete-btn > span {
  visibility: 0;
  opacity: 0;
}
.form-textarea-delete-btn:hover > span,
.form-textarea-delete-btn > span:hover {
  visibility: visible;
  opacity: 100%;
}

.form-textarea-lexeme-icon {
  position: absolute;
  bottom: -7px;
  left: -15px;
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;

  font-size: 10px;
  font-weight: bold;
}

.form-textarea-container:hover .form-textarea,
.form-textarea-container:hover .form-textarea-delete-btn,
.form-textarea-container:hover .form-textarea-lexeme-icon {
  opacity: 100%;
}

/* FORM SELECT */
.form-select {
  display: flex;
  margin: 4px 0;
}

/* FORM OPTION */
.form-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;

  margin: 0 3px 0 0;
  border: 0;
  border-radius: 40px;
  box-sizing: border-box;

  font-size: 12px;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .form-option {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
  }
}

@media only screen and (max-width: 800px) {
  .form-option {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    font-size: 10px;
  }
}