/* WORD */
.word-container {
  position: relative;
  display: flex;
  align-items: center;

  min-width: 0;
  height: 20px;
  padding: 6px 20px;
  border-radius: 20px;

  background-color: #CBE6FF;
}
.word-hover:hover,
.word-hover:focus {
  cursor: pointer;
}

.word-text {  
  color: #3385C6;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.word-container:hover .word-delete-btn,
.word-container:focus .word-delete-btn {
  opacity: 1;
}

.word-delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;

  border: 0;
  border-radius: 15px;
  font-size: 8px;
  font-weight: 800;

  background-color: #FF4F4F;
  color: #262626;

  opacity: 0;
}
.word-delete-btn:hover,
.word-delete-btn:focus {
  top: -2px;
  right: -2px;
  width: 15px;
  height: 15px;
  
  font-size: 12px;
  cursor: pointer;
  opacity: 1;
}

.word-delete-btn > span {
  opacity: 0;
}
.word-delete-btn:hover > span,
.word-delete-btn:focus > span {
  opacity: 1;
}

/* WORD DEFINITION & WORD EXAMPLE*/
.word-definition,
.word-example {
  font-weight: 600;
}

/* WORD LEXEME */
.lexeme-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;

  margin: 0 3px 0 0; /* For word bank */
  border-radius: 40px;

  font-size: 12px;
  font-weight: bold;
  box-sizing: border-box;
}

.lexeme-text-blue { color: #00A5E0; }
.lexeme-text-green { color: #2B976D; }
.lexeme-text-yellow { color: #80B134; }
.lexeme-text-orange { color: #E65D00; }
.lexeme-text-red { color: #DB0A00; }
.lexeme-text-dark-red { color: #BD000D; }
.lexeme-text-grey { color: #4F4F4F; }

.lexeme-border-blue { border-color: #00A5E0; }
.lexeme-border-green { border-color: #2B976D; }
.lexeme-border-yellow { border-color: #80B134; }
.lexeme-border-orange { border-color: #E65D00; }
.lexeme-border-red { border-color: #DB0A00; }
.lexeme-border-dark-red { border-color: #BD000D; }
.lexeme-border-grey { border-color: #4F4F4F; }

.lexeme-background-blue { background-color: #AFEAFF; }
.lexeme-background-green { background-color: #A8E6CE; }
.lexeme-background-yellow { background-color: #DCEDC2; }
.lexeme-background-orange { background-color: #FFD3B5; }
.lexeme-background-red { background-color: #FFAAA6; }
.lexeme-background-dark-red { background-color: #FF8C94; }
.lexeme-background-grey { background-color: #CFCFCF; }

.lexeme-border-active {
  cursor: pointer;
  border-width: 3px;
  border-style: solid;
}

.lexeme-border-hover:hover,
.lexeme-border-hover:active {
  cursor: pointer;
  border: 3px solid;
}

.lexeme-order {
  position: absolute;
  bottom: -5px;
  right: -10px;
  color: #B3B3B3;
}