.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  height: 100%;

  color: #E6E6E6;
  box-sizing: border-box;
}

.form-header {
  margin: 20px 0;
}

.form-title {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

.form-caption {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.2;
}

.username-input,
.password-input {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.form-submit-btn {
  height: 40px;
  border: 0;
  margin: 20px 0;
  border-radius: 10px;

  font-size: 16px;
  font-weight: bold;
  color: #E6E6E6;
  background-color: #3385C6;
}
.form-submit-btn:hover,
.form-submit-btn:focus {
  background-color: #1E4F76;
  cursor: pointer;
}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.register-account {
  margin-top: 40px;
}

.register-btn {
  display: inline;
  border: 0;
  margin: 0 0 0 5px;
  font-size: 12px;
  font-weight: bold;
  color: #3385C6;
  background-color: transparent;
  white-space: nowrap;
}

.register-btn:hover,
.register-btn:focus {
  color: #1E4F76;
  text-decoration: underline;
  cursor: pointer;
}