.word-details-container {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 40%;
  height: 100%;
  padding: 30px;
  
  box-sizing: border-box;
  z-index: 10;
}

.word-details {
  width: 100%;
  height: 100%;
  padding: 5%;
  border-radius: 10px;
  
  font-size: 12px;
  font-weight: bold;
  background-color: #F2F2F2;
  box-sizing: border-box;
}

.word-details-header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 0 20px 0;
}

.word-details-header > .edit-btn,
.word-details-header > .close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background: none;
}
.word-details-header > .edit-btn:hover,
.word-details-header > .close-btn:hover {
  cursor: pointer;
}

.word-details-header > .edit-btn {
  width: 25px;
  margin: 0 10px;
}

.word-details-header >.close-btn {
  position: absolute;
  right: 0;
}

.word-details-body {
  margin: 20px 0 40px 0;
}

.word-details-body > .body-label {
  margin: 10px 0;
}

.word-details-body > .body-entry {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.body-entry-lexeme { 
  margin: 0 20px 0 0;
}


@media only screen and (max-width: 900px) {
  .word-details {
    padding: 10%;
  }
}