.word-details-container {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 40%;
  height: 100%;
  padding: 3%;
  /* border: 2px solid red; */
  
  box-sizing: border-box;
}

.word-details {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 5%;

  background-color: #F2F2F2;

  font-size: 12px;
  font-weight: bold;
  box-sizing: border-box;
}

.word-details-header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 0 20px 0;
}

.word-details-header > .edit-btn,
.word-details-header > .close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;
  background: none;
}
.word-details-header > .edit-btn:hover,
.word-details-header > .close-btn:hover {
  cursor: pointer;
}

.word-details-header > .edit-btn {
  width: 25px;
  margin: 0 10px;
}

.word-details-header >.close-btn {
  position: absolute;
  right: 0;
}

.word-details-header > .word-details-body {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.word-details-body > .body-title {
  margin: 10px 0;
}

.word-details-body > .body-entry {
  display: flex;
  align-items: center;
}