.dropdown-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dropdown {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px 0;
  border-radius: 5px;

  background-color: #F2F2F2;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.dropdown-option {
  display: flex;
  align-items: center;
  width: 100%;

  padding: 10px 20px;
  border: 0;

  font-size: 12px;
  font-weight: 700;
  color: #1A1A1A;
  background-color: #F2F2F2;

  outline: none;
  box-sizing: border-box;
}
.dropdown-option:hover,
.dropdown-option:focus {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}