.form-group {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 12px;
  font-weight: bold;
}

.header > .header-label {
  margin-right: 10px;
  float: left;
}

.body {
  position: relative;
}

.body > .body-input {
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  border: 2px solid transparent;
  margin: 4px 0;
  border-radius: 10px;

  font-size: 14px;
  color: #262626;
  background-color: #E6E6E6;
  opacity: 20%;
  box-sizing: border-box;
}

.body > .body-input:hover,
.body > .body-input:focus {
  opacity: 100%;
  /* outline: none; */
}

/** Weird tab selection fix **/
.body:focus > .body-input,
.body:focus > .body-input {
  opacity: 100%;
  outline: 2px solid red;
}

.body:focus,
.body-input:focus {
  outline: none;
}
/** Weird tab selection fix - END**/

.header > .header-alert-error {
  float: right;
  color: #FF4F4F;
}

.body > .body-alert-error {
  border: 2px solid #FF4F4F;
  opacity: 100%;
}

.body > .alert-error-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;

  margin: 4px 0;
}

.form-textarea-container {
  position: relative;
}

.form-textarea {
  width: 100%;
  height: 60px;
  padding: 10px 15px;
  border: 3px solid transparent;
  margin: 4px 0;
  border-radius: 10px;

  font-size: 14px;
  color: #262626;
  background-color: #E6E6E6;
  opacity: 20%;
  box-sizing: border-box;
  resize: none;
}

.form-textarea:hover,
.form-textarea:focus {
  opacity: 100%;
  outline: none;
}

.form-textarea-delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;

  border-radius: 15px;
  font-size: 8px;
  font-weight: 800;

  background-color: #FF4F4F;
  color: #262626;
}

.form-textarea-delete-btn:hover {
  top: -1px;
  right: -1px;
  width: 15px;
  height: 15px;
  
  font-size: 12px;
  cursor: pointer;
}

.form-textarea-delete-btn > span {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  visibility: 0;
  opacity: 0;
}
.form-textarea-delete-btn > span:hover {
  visibility: visible;
  opacity: 1;
}


.form-select {
  display: flex;
  margin: 4px 0;
}

.form-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;

  margin: 0 3px 0 0;
  border: 0;
  border-radius: 40px;
  box-sizing: border-box;

  font-size: 12px;
  font-weight: bold;
}


.pos-border-blue { border-color: #00A5E0; }
.pos-border-green { border-color: #2B976D; }
.pos-border-yellow { border-color: #80B134; }
.pos-border-orange { border-color: #E65D00; }
.pos-border-red { border-color: #DB0A00; }
.pos-border-dark-red { border-color: #BD000D; }
.pos-border-grey { border-color: #4F4F4F; }

.pos-text-blue { color: #00A5E0; }
.pos-text-green { color: #2B976D; }
.pos-text-yellow { color: #80B134; }
.pos-text-orange { color: #E65D00; }
.pos-text-red { color: #DB0A00; }
.pos-text-dark-red { color: #BD000D; }
.pos-text-grey { color: #4F4F4F; }

.pos-background-blue { background-color: #AFEAFF; }
.pos-background-green { background-color: #A8E6CE; }
.pos-background-yellow { background-color: #DCEDC2; }
.pos-background-orange { background-color: #FFD3B5; }
.pos-background-red { background-color: #FFAAA6; }
.pos-background-dark-red { background-color: #FF8C94; }
.pos-background-grey { background-color: #CFCFCF; }


.pos-border:hover, .pos-border:active {
  cursor: pointer;
  border: 3px solid;
}
.pos-border-active {
  cursor: pointer;
  border-width: 3px;
  border-style: solid;
}